<section class='authPage card'>
  <div class='row'>
    <div>
      <h2>Welcome, {{name}}!</h2>
    </div>
  </div>

  <div class='mt-4'>
    <div class='row'>
      <h3>Add a new Topic:</h3>

      <form class='form new-project-form'>
        <div class='form-group'>
          <label for='topic-name'>Topic name:</label>
          <input
            class='form-input'
            type='text'
            id='topic-name'
            name='topic-name'
          />
        </div>
        <div class='form-group'>
          <label for='topic-desc'>Topic description:</label>
          <textarea
            class='form-input'
            id='topic-desc'
            name='topic-desc'
          ></textarea>
        </div>
        <div class='form-group'>
          <label for='topic-author'>Author:</label>
          <textarea
            class='form-input'
            id='topic-author'
            name='topic-author'
          ></textarea>
        </div>
        <div class='form-group'>
          <label for='topic-desc'>Add an image URL (Optional):</label>
          <textarea
            class='form-input'
            id='img-thumb'
            name='img-thumb'
          ></textarea>
        </div>
        <div class='form-group'>
          <button
            type='submit'
            class='btn btn-lg btn-primary hvr-pulse animate__animated animate__tada'
          >Create</button>
        </div>
      </form>
    </div>
    <hr />
    {{#if topics.length}}
      <div class='project-list'>
        <h3>My Current Topics:</h3>
        <br />

        {{#each topics as |topic|}}
          <div class='row mb-2'>
            <div class='col-md-8'>
              <h4><a href='/topic/{{topic.id}}'>{{topic.title}}</a></h4>
            </div>
            <div class='col-md-4'>
              <button
                class='btn btn-sm btn-danger'
                data-id='{{topic.id}}'
              >DELETE</button>
            </div>
          </div>
        {{/each}}
      </div>
    {{/if}}

  </div>
</section>
<script src='./js/profile.js'></script>